



// tracker

#tracker{
    margin: 13px auto;
    border: 1px solid #E5E3E1;
    background:#d9dfe9;
    padding: 22px 27px;
    width: 93.9%;
    height: 100%;
    overflow: hidden;
}
#tracker h3 {
    padding:7px 8px; 
    width: 80%;
    background: #025b92; 
    color: white; 
    font-size: small;
    height: auto;
}

// Carousel Starts

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  
  
  .wrapper {
    background: linear-gradient(60deg, #420285, #08BDBD);
    height: 63%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .carousel {
    position: relative;
    width: 100%;
    max-width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .carousel__item {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0% 1%px;
    opacity: 0;
    filter: drop-shadow(0 2px 2px #555);
    will-change: transform, opacity;
    -webkit-animation: carousel-animate-vertical 18s linear infinite;
            animation: carousel-animate-vertical 18s linear infinite;
  }
  
  .carousel__item:nth-child(1) {
    -webkit-animation-delay: calc(3s * -1);
            animation-delay: calc(3s * -1);
  }
  
  .carousel__item:nth-child(2) {
    -webkit-animation-delay: calc(3s * 0);
            animation-delay: calc(3s * 0);
  }
  
  .carousel__item:nth-child(3) {
    -webkit-animation-delay: calc(3s * 1);
            animation-delay: calc(3s * 1);
  }
  
  .carousel__item:nth-child(4) {
    -webkit-animation-delay: calc(3s * 2);
            animation-delay: calc(3s * 2);
  }
  
  .carousel__item:nth-child(5) {
    -webkit-animation-delay: calc(3s * 3);
            animation-delay: calc(3s * 3);
  }
  
 
  .carousel__item:last-child {
    -webkit-animation-delay: calc(-3s * 2);
            animation-delay: calc(-3s * 2);
  }
  
  .carousel__item-head {
    border-radius: 50%;
    background-color: #d7f7fc;
    width: 60px;
    height: 60px;
    padding: 14px;
    position: relative;
    margin-right: -45px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel__item-body {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px 20px 16px 70px;
  }
  
  .title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    padding-right: 5px;
  }
  
  @-webkit-keyframes carousel-animate-vertical {
    0% {
      transform: translateY(100%) scale(0.5);
      opacity: 0;
      visibility: hidden;
    }
    3%, 16% {
      transform: translateY(100%) scale(0.7);
      opacity: 0.4;
      visibility: visible;
    }
    19%, 35% {
      transform: translateY(0) scale(1);
      opacity: 1;
      visibility: visible;
    }
    38%, 54% {
      transform: translateY(-100%) scale(0.7);
      opacity: 0.4;
      visibility: visible;
    }
    57% {
      transform: translateY(-100%) scale(0.5);
      opacity: 0;
      visibility: visible;
    }
    100% {
      transform: translateY(-100%) scale(0.5);
      opacity: 0;
      visibility: hidden;
    }
  }
  
  @keyframes carousel-animate-vertical {
    0% {
      transform: translateY(100%) scale(0.5);
      opacity: 0;
      visibility: hidden;
    }
    3%, 16% {
      transform: translateY(100%) scale(0.7);
      opacity: 0.4;
      visibility: visible;
    }
    19%, 35% {
      transform: translateY(0) scale(1);
      opacity: 1;
      visibility: visible;
    }
    38%, 54% {
      transform: translateY(-100%) scale(0.7);
      opacity: 0.4;
      visibility: visible;
    }
    57% {
      transform: translateY(-100%) scale(0.5);
      opacity: 0;
      visibility: visible;
    }
    100% {
      transform: translateY(-100%) scale(0.5);
      opacity: 0;
      visibility: hidden;
    }
  }

//   Carousel end

  .card:hover{
      background-color: #105266;
      color: white;
      
  }
  .card{
    box-shadow: 0 0 5px #d2cbcb;
    margin-left: 10%;
    margin-bottom: 7%;
    height: 97%;
    
  }
  #benefits{
    background: url("../../../../assets/benefits_bg.jpg");
  }
  .card-img-top{
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 15%;
    margin-top: 4%;
    
  }
  .cardtop{
      background-color: gray;
  }
   