


<!-- Benefits Section -->
<br><br>
<div class="container" id="benefits">
    <div class="row">
        <h2 style="color:white;text-align: center;margin-top: 1%;">WHY CHOOSE US
            <hr style="width:28%; margin-left: 36%;margin-top:0%;">
        </h2> <br><br><br><br>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="cardtop">
                    <img class="card-img-top" src="../../../../assets/market_research.png" alt="Card image cap"><hr style="margin-bottom: 0%;">
                </div>
                
                <div class="card-body">
                    <h3 style="font-size: 25px;">Markets Research</h3>
                    <p class="card-text">We provide market research services to deliver the report with processed
                        information and provide the management with relevant, accurate information of
                        commodity prices, predictions, demand and supply forecast that can be used by the clients in
                        order to make real-world decisions and bring improvement in any aspect.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="cardtop">
                    <img class="card-img-top" src="../../../../assets/customized_services.png" alt="Card image cap"><hr style="margin-bottom: 0%;">
                </div>
            
                <div class="card-body">
                    <h3 style="font-size: 25px;">Customized Service</h3>
                    <p class="card-text">Customized solutions that we provide at Commodity Masters are centred on the
                        client requirement. We provide trade statistics, including tariff commodity codes, to stay
                        abreast of changing policies.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="cardtop">
                    <img class="card-img-top" src="../../../../assets/Analysis_forecasting.png" alt="Card image cap"
                    style="border: 5px solid rgb(80, 78, 78);"><hr style="margin-bottom: 0%;">
                </div>
                <div class="card-body">
                    <h3 style="font-size: 25px;">Analysis & Forecasting </h3>
                    <p class="card-text">Build credible predictive models and make forecasts based on 20+ years of data.
                        Easily find comprehensive import-export data, including port and transportation mode for many
                        countries.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Benefits Section -->
<!-- tracker section  -->
<div class="container" id="tracker">
    <div class="row">
        <h2 style="font-weight: bold; color: #131357;">We Are Tracking Global Commodities</h2><br><br><br><br>
        <div class="col-sm-3">
            <h3>Non Ferrous Metals</h3>
            <ul>
                <li>Copper</li>
                <li>Aluminium</li>
                <li>Zinc</li>
                <li>Brass</li>
                <li>Nickel</li>
                <li>Lead</li>
                <li>Tin</li>
                <li>Manganese</li>
                <li>Steel</li>
                <ul>
                    <li>HRC</li>
                    <li>CRC</li>
                    <li>Wire Rod</li>
                    <li>Rebar</li>
                </ul>
            </ul>
        </div>
        <div class="col-sm-3">
            <h3>Ferrous Metals</h3>
            <ul>
                <li>MS flat</li>
                <li>MS Angel</li>
                <li>MS Channel</li>
                <li>Pig Iron</li>
                <li>Ingot Round</li>
                <li>Ingot MG</li>
                <li>Casting Scrap</li>
                <li>Turning Scrap</li>
            </ul>
            <h3>Chemicals</h3>
            <ul>
                <li>Crude Oil</li>
                <ul>
                    <li>WTI</li>
                    <li>Brent</li>
                </ul>
                <li>Castor Oil</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h3>Chemicals</h3>
            <ul>
                <li>Nylon 6</li>
                <li>Nylon 66</li>
                <li>ABS</li>
                <li>PE</li>
                <li>PP(Homopolymer)</li>
                <li>PP(Copolymer)</li>
                <li>PC</li>
                <li>PBT</li>
                <li>PVC</li>
                <li>Caprolactam</li>
            </ul>
            <h3>Currency</h3>
            <ul>
                <li>EURO</li>
                <li>USD</li>
                <li>INR</li>
                <li>GBP</li>
            </ul>
        </div>
        <div class="col-sm-3">

            <h3 style="font-size: large;border-radius:25px; padding-left: 3%;margin-left: 10%;">Our Estemmed Clients.
            </h3>

            <div class='wrapper' style="max-width: 100%;height: auto;padding-top: 70%;padding-bottom: 70%;">
                <div class='carousel'>
                    <div class='carousel__item'>
                        <div class='carousel__item-head'>
                            <img src="../../../../assets/Aerospace logo.png" alt="" height="100%" width="100%">
                        </div>
                        <div class='carousel__item-body'>
                            <p class='title'>Aerospace Industries</p>
                        </div>
                    </div>
                    <div class='carousel__item'>
                        <div class='carousel__item-head'>
                            <img src="../../../../assets/Electrical_logo.png" alt="" height="100%" width="100%">
                        </div>
                        <div class='carousel__item-body'>
                            <p class='title'>Electrical Industries</p>
                        </div>
                    </div>
                    <div class='carousel__item'>
                        <div class='carousel__item-head'>
                            <img src="../../../../assets/Automotive_logo.png" alt="" height="100%" width="100%">
                        </div>
                        <div class='carousel__item-body'>
                            <p class='title'>Automotive Industries</p>
                        </div>
                    </div>
                    <div class='carousel__item'>
                        <div class='carousel__item-head'>
                            <img src="../../../../assets/O&G_logo.png" alt="" height="100%" width="100%">
                        </div>
                        <div class='carousel__item-body'>
                            <p class='title'>Oil & Gas Industries</p>
                        </div>
                    </div>
                    <div class='carousel__item'>
                        <div class='carousel__item-head'>
                            <img src="../../../../assets/Energy_logo.png" alt="" height="100%" width="100%">
                        </div>
                        <div class='carousel__item-body'>
                            <p class='title'>Energy</p>
                        </div>
                    </div>
                    <div class='carousel__item'>
                        <div class='carousel__item-head'>
                            <img src="../../../../assets/Contruction_logo.png" alt="" height="100%" width="100%">
                        </div>
                        <div class='carousel__item-body'>
                            <p class='title'>Construction</p>
                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>
</div>
<!-- Tracker section -->